<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4">Invoice</h1>
        <small>Invoice Number</small>
        <p>{{ invoice.invoiceNumber }}</p>
        <small>Date of Issue</small>
        <p>{{ invoice.date }}</p>
      </div>
      <div class="col">
        <p><b>Payable To:</b></p>
        <p>Company: {{ invoice.payable.name }}</p>
        <p>Person: {{ invoice.payable.person }}</p>
        <p>Address: {{ invoice.payable.address }}</p>
        <p>City: {{ invoice.payable.city }}</p>
        <p>Zip: {{ invoice.payable.zip }}</p>
        <p>Phone: {{ invoice.payable.phone }}</p>
        <p>Email: {{ invoice.payable.email }}</p>
      </div>
      <div class="col">
        <p><b>Billed To:</b></p>
        <p>Company: {{ invoice.billed.name }}</p>
        <p>Person: {{ invoice.billed.person }}</p>
        <p>Client: {{ invoice.billed.name }}</p>
        <p>Address: {{ invoice.billed.address }}</p>
        <p>City: {{ invoice.billed.city }}</p>
        <p>Zip: {{ invoice.billed.zip }}</p>
      </div>
    </div>
  </div>
</div>

<hr />
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Quality / Hr Rate</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let items of invoice.items">
      <th scope="row">{{ items.id }}</th>
      <td>{{ items.title }}</td>
      <td>${{ items.price }}</td>
      <td>{{ items.quality }}</td>
      <td>$ {{ items.price * items.quality }}</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-10"></div>
  <div class="col">
    <p>Subtotal: $2141.85</p>
    <p>Discount: ${{ invoice.discount }}</p>
    <p><b>Invoice Total: $2143.2</b></p>
  </div>
</div>

<footer>
  <div class="container">
    <p>Online payments to be made to:</p>

    <p>Account: {{ invoice.account }}</p>
    <p>Reference: {{ invoice.reference }}</p>
  </div>
</footer>
