<form action="">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="display-4">Invoice</h1>
          <small>Invoice Number</small>
          <p><input type="text" name="invoicenumber" id="invoicenumber" /></p>
          <small>Date of Issue</small>
          <p><input type="date" name="dateissue" id="dateissue" /></p>
        </div>
        <div class="col">
          <p><b>Payable To:</b></p>
          <p>Company: <input type="text" name="name" id="name" /></p>
          <p>Person: <input type="text" name="person" id="person" /></p>
          <p>Address: <input type="text" name="person" id="person" /></p>
          <p>City: <input type="text" name="person" id="person" /></p>
          <p>Zip: <input type="text" name="person" id="person" /></p>
          <p>Phone: <input type="text" name="person" id="person" /></p>
          <p>Email: <input type="text" name="person" id="person" /></p>
        </div>
        <div class="col">
          <p><b>Billed To:</b></p>
          <p>Company: <input type="text" name="person" id="person" /></p>
          <p>Person: <input type="text" name="person" id="person" /></p>
          <p>Client: <input type="text" name="person" id="person" /></p>
          <p>Address: <input type="text" name="person" id="person" /></p>
          <p>City: <input type="text" name="person" id="person" /></p>
          <p>Zip: <input type="text" name="person" id="person" /></p>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quality / Hr Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="text" name="person" id="person" /></th>
        <td><input type="text" name="person" id="person" /></td>
        <td>$<input type="text" name="person" id="person" /></td>
        <td><input type="text" name="person" id="person" /></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-10"></div>
    <div class="col">
      <p>Discount: $<input type="text" name="discount" id="discount" /></p>
    </div>
  </div>

  <footer>
    <div class="container">
      <p>Online payments to be made to:</p>

      <p>Account: <input type="text" name="account" id="account" /></p>
      <p>Reference: <input type="text" name="reference" id="reference" /></p>
    </div>
  </footer>
</form>
