<!--The content below is only a placeholder and can be replaced.-->

<nav>
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="list">List</a></li>
    <li><a href="add">Add</a></li>
    <li><a href="upload">Upload</a></li>
  </ul>
</nav>

<div class="wrapper"><router-outlet></router-outlet></div>
