<table>
  <thead>
    <tr>
      <th>Invoice Number</th>
      <th>Name</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of invoices">
      <td>
        <a routerLink="/show/{{ item.invoiceNumber }}">{{ item.invoiceNumber }}</a>
      </td>
      <td>{{ item.name }}</td>
      <td>{{ item.date }}</td>
    </tr>
  </tbody>
</table>
