<div class="container">
  <div class="row">
    <h1>Name</h1>
    <input type="text" name="name" id="name" />
  </div>
  <div class="row">
    <h1>Upload</h1>
    <input type="file" name="upload" id="upload" /> <br />
  </div>

  <div class="row"><input type="submit" value="Submit" /></div>
</div>
