<h1>Statististics Overall ({{ myYear }})</h1>

<div [hidden]="!chartOverall" class="chart">
  <canvas id="canvasOverall">{{ chartOverall }}</canvas>
</div>
<h1>Statististics this month ({{ myMonth }})</h1>

<div [hidden]="!chartMonth" class="chart">
  <canvas id="canvasMonth">{{ chartMonth }}</canvas>
</div>

<h1>Billed</h1>

<h1>Payed</h1>

<h1>Items</h1>
